@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Allerta");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Allerta", sans-serif;
}
header {
  height: 50px;
}
header > nav {
  display: grid;
  grid-template-columns: 1fr;
  height: 50px;
  background-color: #424242;
}
div.toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  color: #898989;
}
div.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div.about_me {
  vertical-align: middle;
  text-align: center;
  line-height: 45px;
}
a {
  color: #898989;
  text-decoration: none;
}
div.details {
  background-color: black;
  vertical-align: middle;
  text-align: center;
  line-height: 45px;
}
div.contacts {
  vertical-align: middle;
  text-align: center;
  line-height: 45px;
  border-right: 2px solid black;
}
div.name {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  line-height: 45px;
  width: 200px;
  right: 15%;
}
div.drum_lessons {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  padding-top: 5px;
  width: 100px;
  right: 10%;
}
header > nav img {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
}
div.carousel {
  position: relative;
  height: 845px;
  background-image: url(img/concert.jpeg);
  background-size: 100% 100%;
  font-size: 20px;
  color: white;
}
div.carousel p {
  position: absolute;
  font-size: 60px;
  padding-left: 50px;
}
p.bottom_carousel_first {
  padding-top: 400px;
}
p.bottom_carousel_last {
  padding-top: 600px;
}
#about_me {
  color: #ebebeb;
  line-height: 60px;
  background-color: #444444;
  font-size: 30px;
}
#about_me > div.description {
  padding-left: 20px;
}
#about_me > div.my_band {
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  right: 0;
  max-height: 500px;
  background-color: #606060;
}
#about_me > div.my_band > aside.left {
  position: relative;
  left: 0;
  background-color: #606060;
  padding-left: 20px;
  font-size: 30px;
  max-height: 500px;
  color: #ebebeb;
}
#about_me > div.my_band > aside.right {
  position: relative;
  right: 0;
  padding-right: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(img/rockonslogo.jpg);
}
#about_me
  > div.my_band
  > aside.right
  > a[href="https://www.facebook.com/rockons.band/"] {
  position: absolute;
  background-image: url(img/fblogo.png);
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  left: 0;
  bottom: 0;
}
#about_me
  > div.my_band
  > aside.right
  > a[href="https://www.youtube.com/channel/UCJR6qE5x5T3QgCYodozj6FA/featured"] {
  position: absolute;
  background-image: url(img/youtubelogo.png);
  background-size: 80px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 80px;
  right: 0;
  bottom: 0;
}
#about_me
  > div.my_band
  > aside.right
  > a[href="https://www.instagram.com/rockons.lviv/"] {
  position: absolute;
  background-image: url(img/instalogo.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  left: 45%;
  bottom: 0;
}
#details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 300px;
  background-color: #7a7a7a;
}
#details > div.text {
  padding-left: 20px;
  background-color: #7a7a7a;
}
#details > div.image {
  position: relative;
  background-color: #7a7a7a;
}
#details > div.image > img[src="img/phoneicon.png"] {
  position: absolute;
  width: 7%;
  height: 16%;
  top: 7%;
  left: 7%;
}
#details > div.image > img[src="img/discussionicon.png"] {
  position: absolute;
  width: 7%;
  height: 16%;
  top: 43%;
  right:6%;
}
#details > div.image > img[src="img/scheduleicon.png"] {
  position: absolute;
  width: 7%;
  height: 16%;
  bottom: 15%;
  left:12%;
}
#details > div.image > div.line1 {
  position: absolute;
  top: 14%;
  left: 25%;
  width: 50%;
  height: 1.5%;
  background-color: black;
}
#details > div.image > div.circle1 {
  z-index: 1;
  position: absolute;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: grey;
  border: 0.1em solid #666;
  color: black;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  left: 17%;
  top: 3%;
}
#details > div.image > div.line2 {
  position: absolute;
  top: 14%;
  left: 75%;
  width: 0.5%;
  height: 30%;
  background-color: black;
}
#details > div.image > div.circle2 {
  z-index: 1;
  position: absolute;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: grey;
  border: 0.1em solid #666;
  color: black;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  left: 71%;
  top: 40%;
}
#details > div.image > div.line3 {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 1.5%;
  background-color: black;
}
#details > div.image > div.line4 {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 0.5%;
  height: 80px;
  background-color: black;
}
#details > div.image > div.circle3 {
  z-index: 1;
  position: absolute;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: grey;
  border: 0.1em solid #666;
  color: black;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  left: 21%;
  bottom: 12%;
}
