@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
html {

  font-family: "Shadows Into Light", cursive;
  font-size: 32px;
}
body {
  color: grey;
}
h1 {
  color: red;
}
p {
  color: green;
}
header > p {
  color: rgb(255, 255, 0);
  font-size: 1.5rem;
}
header + p {
  color: orange;
}
a[href^="https"] {
  color: rgb(38, 165, 150);
}
p::before {
  content: "<";
  color: red;
}
p::after {
  content: ">";
  color: red;
}
p {
  border: 1px solid white;
}
p:hover {
  border: 1px solid red;
}
a:visited {
  color: blue;
}
.navv{

}
.navv {
    position: sticky;
    background-color: black;
    top: 0;
    right: 0;
    
}
.toolbar li{
    
    display: inline;
    background-color: #EEE;
    border: 1px solid;
    border-color: #F3F3F3 #BBB #BBB #F3F3F3;
    margin: 2px;
    padding: .5em;
    box-shadow: 15px 20px 15px rgba(0,0,0,0.5);
}
